@font-face {
    font-family: 'Handjet-Bold';
    src: local('Handjet-Bold'),
         url('./fonts/Handjet-Bold.ttf') format('ttf'),
         /* url('./fonts/CustomFont1Name.woff2') format('woff2'); */
}
/* @font-face {
    font-family: 'CustomFont2Name':
    src: local('CustomFont2Name'),
         url('./fonts/CustomFont2Name.woff') format('woff'),
         url('./fonts/CustomFont2Name.woff2') format('woff2');
} */